/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(https://images.pexels.com/photos/6266316/pexels-photo-6266316.jpeg?cs=srgb&dl=pexels-ann-h-6266316.jpg&fm=jpg)
    no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.accordian {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  opacity: 0.8;
}
.accordian-title {
  margin-bottom: 20px;
}
.question {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 15px 0;
  border-bottom: 1px solid #000;
  position: relative;
  cursor: pointer;
}
.question::after {
  content: "+";
  position: absolute;
  right: 5px;
  cursor: pointer;
}
.answer {
  width: 100%;
  font-size: 1.1rem;
  line-height: 1.2;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.content.active .answer {
  font-size: 1.1rem;
  transition: 0.4s;
  height: 90px;
  margin-top: 15px;
}
.content.active .question::after {
  content: "-";
  font-size: 30px;
}
